<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Overwatch stats</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script data-main="js/main" src="bower_components/requirejs/require.js"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Overwatch stats</h1>
            <p></p>
        </div>
    </div>
    <div ng-controller="mainCtrl" class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form name="searchForm">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-pattern="btPattern" name="searchPlayer" ng-model="battleTag" placeholder="Enter the battletag" required>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="searchStats()">Search</button>
                        </span>
                    </div>
                    <div class="status" ng-show="searchForm.searchPlayer.$error.pattern">
                        <p class="error">Invalid battleTag!</p>
                    </div>
                    <div class="status" ng-show="searchForm.searchPlayer.$error.required">
                        <p class="error">This field is required!</p>
                    </div>
                </form>
            </div>
        </div>
        <div class="row status startHide">
            <p class="error">{{errorMessage}}</p>
        </div>
        <div class="row player searchHide startHide">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img src="{{player.avatar}}">
                <span class="playerName">{{player.name}}</span>
            </div>
        </div>
        <div class="row stats quick searchHide startHide">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-main panel-default">
                <div class="panel-body">
                    <h1>{{player.quickplayStats.level}}</h1>
                    <p>Level</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-main panel-default">
                <div class="panel-body">
                    <h1>{{player.quickplayStats.prestige}}</h1>
                    <p>Prestige</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-main panel-default">
                <div class="panel-body">
                    <h1>{{player.quickplayStats.wins}}</h1>
                    <p>QuickPlay wins</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-main panel-default">
                <div class="panel-body">
                    <h1>{{player.quickplayStats.kdratio}}</h1>
                    <p>QuickPlay KD ratio</p>
                </div>
            </div>
            <button id="quick" class="detailsButton col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-default">Details<span class="badge"><i class="fa fa-caret-down"></i></span></button>
        </div>
        <div class="row stats quick-details searchHide startHide">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.quickplayStats.eliminations}}</h1>
                    <p>Eliminations</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.quickplayStats.damage}}</h1>
                    <p>Damage done</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.quickplayStats.healing}}</h1>
                    <p>Healing Done</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.quickplayStats.cards}}</h1>
                    <p>Cards</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.quickplayStats.goldmedals}}</h1>
                    <p>Gold Medals</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.quickplayStats.silvermedals}}</h1>
                    <p>Silver Medals</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.quickplayStats.bronzemedals}}</h1>
                    <p>Bronze Medals</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.quickplayStats.objective}}</h1>
                    <p>Objective Time</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.quickplayStats.offensiveAss}}</h1>
                    <p>Offensive Assists</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.quickplayStats.defensiveAss}}</h1>
                    <p>Defensive Assists</p>
                </div>
            </div>
        </div>
        <div class="row stats competitive searchHide startHide">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-main panel-default">
                <div class="panel-body">
                    <h1>{{player.competitive.comprank}}</h1>
                    <p>Competitive Overall</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-main panel-default">
                <div class="panel-body">
                    <h1>{{player.competitive.wins}}</h1>
                    <p>Competitive Wins</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-main panel-default">
                <div class="panel-body">
                    <h1>{{player.competitive.winratio}}</h1>
                    <p>Competitive winratio</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-main panel-default">
                <div class="panel-body">
                    <h1>{{player.competitive.kdratio}}</h1>
                    <p>Competitive KD ratio</p>
                </div>
            </div>
            <button id="comp" class="detailsButton col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-default">Details<span class="badge"><i class="fa fa-caret-down"></i></span></button>
        </div>
        <div class="row heroes comp-details searchHide startHide">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.competitive.eliminations}}</h1>
                    <p>Eliminations</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.competitive.damage}}</h1>
                    <p>Damage done</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.competitive.healing}}</h1>
                    <p>Healing Done</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.competitive.cards}}</h1>
                    <p>Cards</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.competitive.goldmedals}}</h1>
                    <p>Gold Medals</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.competitive.silvermedals}}</h1>
                    <p>Silver Medals</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.competitive.bronzemedals}}</h1>
                    <p>Bronze Medals</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.competitive.objective}}</h1>
                    <p>Objective Time</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.competitive.offensiveAss}}</h1>
                    <p>Offensive Assists</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 stat panel panel-default">
                <div class="panel-body">
                    <h1>{{player.competitive.defensiveAss}}</h1>
                    <p>Defensive Assists</p>
                </div>
            </div>
        </div>
        <div class="row footer">

        </div>
        <div class="loadingScreen startHide">
            <div class="loader">
                <ul class="hexagon-container">
                    <li class="hexagon hex_1"></li>
                    <li class="hexagon hex_2"></li>
                    <li class="hexagon hex_3"></li>
                    <li class="hexagon hex_4"></li>
                    <li class="hexagon hex_5"></li>
                    <li class="hexagon hex_6"></li>
                    <li class="hexagon hex_7"></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>